<head>
  <meta charset="utf-8" />
  <title>Full Stack Developer Assessment</title>
  <meta name="description" content="Full Stack Developer Assessment">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, shrink-to-fit=no">

  <script
    type="text/javascript"
    charset="UTF-8"
    src="//geo.cookie-script.com/s/86fc2db43942f4b11fdc1397d84af15b.js?region=eu"
  ></script>

  <!--begin::Global Styles -->
  <link
    href="/assets/vendors.bundle.css"
    rel="stylesheet"
  />
  <link href="/assets/main.bundle.css" rel="stylesheet" />
  <!--end::Global Styles -->

  <!--begin::Page Styles -->
  <%- block('headerCSS').toString() %>
  <!--end::Page Styles -->

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://pro.fontawesome.com" />

  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />

  <%- block('headerJS').toString() %>

  <script
    src="https://kit.fontawesome.com/cb7fc6c9d9.js"
    crossorigin="anonymous"
    async
  ></script>
</head>
