option_settings:
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: "arn:aws:acm:eu-central-1:953486003362:certificate/2aef3394-6bae-4060-8632-fb2e34d23a0a" # nftvaluations.com
    SSLPolicy: "ELBSecurityPolicy-2016-08"
Resources:
  AddingSSLCert2:
    Type: "AWS::ElasticLoadBalancingV2::ListenerCertificate"
    Properties:
      ListenerArn:
        Ref : "AWSEBV2LoadBalancerListener443"
      Certificates:
        - CertificateArn: "arn:aws:acm:eu-central-1:953486003362:certificate/0b9f95bb-0575-429c-ac1e-283a8b2fcdb5" # staging.nftvaluations.com